{% extends "base.html" %}

{% load custom_tags %}

{% block content %}
<style>
    .input-group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 40%;
    }
</style>
<h2>Tareas del Proyecto: {{ proyecto.nombre }}</h2>
<form method="get" action="" class="search-form">
    <div class="input-group">
        <input class="form-control search-input" type="search" name="q" placeholder="Buscar proyectos..." value="{{ request.GET.q }}" aria-label="Buscar proyectos">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
        {% if request.user|has_group:"Jefe" %}
            <button class="btn btn-outline-primary" type="button" onclick="location.href='{% url 'crear_tarea' proyecto.id %}'">Agregar Tareas</button>
        {% endif %}
    </div>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre de la Tarea</th>
            <th>Descripción</th>
            <th>Proyecto</th> 
            <th>Prioridad</th>
            <th>Fecha</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for tarea in tareas %}
        <tr>
            <td>{{ tarea.nombre }}</td>
            <td>{{ tarea.descripcion }}</td>
            <td>{{ tarea.proyecto.nombre }}</td> 
            <td>{{ tarea.prioridad }}</td>
            <td>{{ tarea.fecha }}</td>
            <td>
                <i class="bi bi-circle-fill" style="color: {% if tarea.estado == 'no_iniciado' %}red{% elif tarea.estado == 'en_proceso' %}yellow{% elif tarea.estado == 'finalizado' %}green{% endif %};"></i>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}