{% extends "base.html" %}

{% load custom_filters %}


{% block content %}
<h2>Proyectos</h2>

<!-- Formulario de búsqueda -->
<form method="get" action="">
    <input type="text" name="q" placeholder="Buscar proyectos..." value="{{ request.GET.q }}" aria-label="Buscar proyectos">
    <button type="submit">Buscar</button>
</form>

<div class="row">
    {% for proyecto in proyectos %}
    {% with colors="bg-primary bg-secondary bg-success bg-danger bg-warning bg-info bg-light " %}
    <div class="col-md-4 mb-4">
        <div class="card {{ colors|random_color }}">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'detalle_proyecto' proyecto.id %}" class="text-black">{{ proyecto.nombre }}</a>
                </h5>
                <p class="card-text">{{ proyecto.descripcion }}</p>
            </div>
        </div>
    </div>
    {% endwith %}
    {% endfor %}
</div>
{% endblock %}